<!DOCTYPE html>
<html>
  <head>
    {{{ meta.inject().title.text() }}}
    {{{ meta.inject().meta.text() }}}
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    {{{ renderResourceHints() }}}
    {{{ renderStyles() }}}
  </head>
  <body>
    <!--vue-ssr-outlet-->
    {{{ meta.inject().noscript.text({ body: true }) }}}
    {{{ renderState() }}}
    {{{ renderState({ contextKey: 'apolloState', windowKey: '__APOLLO_STATE__' }) }}}
    {{{ renderScripts() }}}
  </body>
</html>
