<template>
    <div>
        <div class="columns is-multiline my-3" :class="['xs', 'sm'].includes($mq) ? 'is-gapless' : 'is-1'">
            <div class="column is-4 mb-1">
                <button class="button is-link is-radiusless is-fullwidth is-capitalized" @click="$router.push('/about')">
                    {{ $t('labels.about') }}
                </button>
            </div>
            <div class="column is-4 mb-1">
                <button class="button is-warning is-radiusless is-fullwidth is-capitalized" @click="onRefresh">
                    {{ $t('labels.refresh') }}
                </button>
            </div>
            <div class="column is-4 mb-1">
                <button class="button is-danger is-radiusless is-fullwidth is-capitalized" @click="onSubmit">
                    {{ $t('labels.logout') }}
                </button>
            </div>
        </div>
        <div v-if="loading" class="has-text-centered is-capitalized">
            {{ $t('labels.loading') }}
        </div>
        <div v-else>
            <div v-if="message">
                <article class="message is-danger">
                    <div class="message-body is-capitalized">
                        {{ message }}
                    </div>
                </article>
            </div>
            <div v-else class="columns is-multiline is-mobile is-tablet">
                <div v-for="item in lists" :key="item.id" class="column is-6-mobile is-4-tablet is-3-desktop">
                    <card-person v-bind="item" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    components: {
        CardPerson: () => import('../components/CardPerson')
    },
    data() {
        return {
            loading: true,
            message: null,
            lists: []
        }
    },
    mounted() {
        this.initilized()
    },
    methods: {
        async initilized() {
            this.loading = true
            const baseUrl = process.env.VUE_APP_BASEURL || 'http://localhost'
            const [err, result] = await axios.get(`${baseUrl}/users`, { params: { page: 1, per_page: 30 } })
                .then(v => [null, v]).catch(e => [e, null])
            if (err) {
                const { data } = err && err.response ? err.response : {}
                const message = (data && data.error ? data.error : null) || err.toString()
                this.message = message
            } else {
                const { data } = result
                this.lists = 'data' in data ? data.data : []
            }
            this.$nextTick(() => {
                this.loading = false
            })
        },
        onRefresh(event) {
            event.preventDefault()
            this.initilized()
        },
        onSubmit(event) {
            event.preventDefault()
            this.$store.dispatch('user/updateLogin', false)
            this.$store.dispatch('user/updateToken', null)
            this.$nextTick(() => {
                this.$router.push('/login')
            })
        }
    }
}
</script>
