@charset "utf-8";

/* Import Bulma Utilities */
@import "~bulma/sass/utilities/_all";
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import "~bulma/sass/utilities/derived-variables";

// Set your brand colors
$brown: #757763;
$brown-invert: findColorInvert($brown);
$pink: #FA7C91;
$pink-invert: findColorInvert($pink);
$purple: #8A4D76;
$purple-invert: findColorInvert($purple);

$addColors: (
    "brown":($brown, $brown-invert),
    "pink": ($pink, $pink-invert),
    "purple": ($purple, $purple-invert)
);
$colors: map-merge($colors, $addColors);

/* Import the rest of Bulma */
@import '~bulma';
