/* GC IS-ELLIPSIS */
/* from - https://jsfiddle.net/onigetoc/7o8xt3fk */

.ellipsis {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    /*   max-width: 400px; */
    /*   height: 109.2px; */
    /* Fallback for non-webkit */
    margin: 0 auto;
    /*   font-size: 26px; */
    line-height: 1.4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.is-ellipsis-1 {
    -webkit-line-clamp: 1;
}

.is-ellipsis-2 {
    -webkit-line-clamp: 2;
}

.is-ellipsis-3 {
    -webkit-line-clamp: 3;
}

.is-ellipsis-4 {
    -webkit-line-clamp: 4;
}

.is-ellipsis-5 {
    -webkit-line-clamp: 5;
}

.is-ellipsis-6 {
    -webkit-line-clamp: 6;
}

.is-ellipsis-7 {
    -webkit-line-clamp: 7;
}

.is-ellipsis-8 {
    -webkit-line-clamp: 8;
}

.is-ellipsis-9 {
    -webkit-line-clamp: 9;
}

.is-ellipsis-10 {
    -webkit-line-clamp: 10;
}