<template>
    <div id="app">
        <div :is="componentName">
            <router-view/>
        </div>
    </div>
</template>

<script>
import MixinBreakpoint from '@/mixins/mixin-breakpoint'
import { get } from '@/libraries/util-object'

export default {
    mixins: [MixinBreakpoint],
    components: {
        DesktopView: () => import('./layouts/Layout.vue'), 
        MobileView: () => import('./layouts/LayoutMobile.vue')
    },
    computed: {
        componentName() {
            return get(this.$store.state, 'layout.name') || 'desktop-view'
        }
    },
    created() {
        this.$store.dispatch('layout/updateRender', process.browser ? 'client' : 'server')
        this.$store.dispatch('user/generateKey')
        const env = process.env.VUE_APP_ENV || process.env.NODE_ENV
        if (env === 'development') {
            console.time('loading-time')
            this.$nextTick(() => { 
                console.timeEnd('loading-time')
            })
        }
    },
    metaInfo() {
        return {
            title: 'Default App Title',
            titleTemplate: '%s | Example App',
            htmlAttrs: {},
            headAttrs: {},
            noscript: [
                { innerHTML: 'We\'re sorry but app doesn\'t work properly without JavaScript enabled. Please enable it to continue.' }
            ],
            meta: [
                { charset: 'utf-8' },
                { 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' },
                { name: 'viewport', content: 'width=device-width, initial-scale=1' },
                { name: 'keyword', content: 'vue,ssr' },
                { name: 'description', content: 'vue ssr demo' }
            ]
        }
    }
}
</script>
