<template>
    <div>
        <div class="has-text-centered">
            <h1 class="is-size-4 has-text-weight-bold is-uppercase">
                {{ $t('titles.login') }}
            </h1>
        </div>
        <article v-if="message" class="message is-small is-danger">
            <div class="message-body is-capitalized">
                {{ message }} 
            </div>
        </article>
        <div class="field">
            <label class="label is-small is-capitalized">{{ $t('attributes.email') }}</label>
            <div class="control has-icons-left">
                <input class="input" type="email" :placeholder="$t('placeholders.email')" v-model="model.email">
                <span class="icon is-small is-left">
                    <i class="mdi mdi-email"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label is-small is-capitalized">{{ $t('attributes.password') }}</label>
            <div class="control has-icons-left">
                <input class="input" type="password" :placeholder="$t('placeholders.password')" v-model="model.password">
                <span class="icon is-small is-left">
                    <i class="mdi mdi-lock"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox is-capitalized">
                    <input type="checkbox" v-model="model.remember">
                    {{ $t('attributes.remember') }}
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control has-text-centered">
                <label>
                    {{ $t('text.login') }} <a @click="$router.push('/register')">{{ $t('labels.register') }}</a>
                </label>
            </div>
        </div>
        <div class="buttons is-right is-hidden-touch">
            <button class="button is-link is-capitalized" :class="loading ? 'is-loading' : ''" style="min-width: 180px;" @click="onSubmit">
                {{ $t('labels.login') }}
            </button>
            <button class="button is-link is-light is-capitalized" style="min-width: 180px;" @click="onCancel">
                {{ $t('labels.cancel') }}
            </button>
        </div>
        <div class="buttons is-hidden-desktop">
            <button class="button is-link is-fullwidth is-capitalized" :class="loading ? 'is-loading' : ''" @click="onSubmit">
                {{ $t('labels.login') }}
            </button>
            <button class="button is-link is-light is-fullwidth is-capitalized" @click="onCancel">
                {{ $t('labels.cancel') }}
            </button>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'PageLogin',
    data() {
        return {
            loading: false,
            model: {},
            message: null
        }
    },
    mounted() {
        this.$set(this.model, 'remember', this.$store.state.user.remember)
    },
    methods: {
        async save(paramaters) {
            this.loading = true
            const baseUrl = process.env.VUE_APP_BASEURL || 'http://localhost'
            const { email, password, remember } = paramaters
            const [err, result] = await axios.post(`${baseUrl}/login`, { email, password }).then(v => [null, v]).catch(e => [e, null])
            if (err) {
                const { data } = err && err.response ? err.response : {}
                const message = (data && data.error ? data.error : null) || err.toString()
                this.message = message
            } else {
                const { data } = result
                const token = data && 'token' in data ? data.token : null
                this.$store.dispatch('user/updateLogin', true)
                this.$store.dispatch('user/updateRemember', remember)
                this.$store.dispatch('user/updateToken', token)
                this.$router.push('/')
            }
            await this.$nextTick(() => {
                this.loading = false
            })
        },
        onSubmit(event) {
            event.preventDefault()
            this.save(this.model)
        },
        onCancel(event) {
            event.preventDefault()
            this.model = {}
        }
    }
}
</script>
